

<table class="table table-striped" *ngIf="clientes.length > 0; else sinClientes">
  <thead>
  
    <tr>

      <th scope="col-2">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col"><form>
      <input type="text" class="form-control" placeholder="Rut...">
         
          
       
            </form></th>
      <th scope="col">Tipo</th>
      <th scope="col">Hora</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clientes">

      <td> {{c.nombre }}</td>
      <td> {{c.apellido}}</td>
      <td> {{c.rut}} </td>
      <td> Bronce</td>
      <td> 10:00</td>
    </tr>

  </tbody>
</table>

<ng-template #sinClientes>
  <p>
 No hay clientes registrados
  </p>
</ng-template>
