

<table class="table table-striped" *ngIf="loc.length > 0; else sinlocales" >
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Direccion</th>
      <th scope="col">Fono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of loc | async">
      <th scope="row"> {{ p.nombre }} </th>
      <td>{{ p.ciudad }}</td>
      <td>{{p.direccion}}</td>
      <td>{{p.fono}} </td>
    </tr>

  </tbody>
</table>

<ng-template #sinlocales>
  <p>
   No hay locales Registrados
  </p>
</ng-template>
