


<table class="table table-striped" *ngIf="maquinas.length > 0; else sinlocales">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col-2"><select   name="local" class="form-control" required>
            <option *ngFor="let c of locales" [ngValue]="c.nombre" >{{c.nombre}}</option>
          </select></th>
        <th scope="col">In</th>
        <th scope="col">OUT</th>
        <th scope="col">Multiplicador</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of maquinas">
        <th scope="row"> {{ p.numero }} </th>
        <td> {{ p.local }}</td>
        <td> {{p.in}}</td>
        <td> {{p.out}} </td>
        <td> {{p.multiplicador}} </td>
      </tr>

    </tbody>
  </table>

  <ng-template #sinlocales>
    <p>
     No hay Maquinas Registradas
    </p>
  </ng-template>
