<div class="col-md-4 offset-md-4">
  <form (ngSubmit)="addCliente()">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input nbInput type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input nbInput type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" required>
    </div>

    <div class="form-row">
      <div class="col-9">
        <label for="rut">Rut</label>
        <input nbInput type="number" class="form-control" name="rut" [(ngModel)]="cliente.rut" required>

      </div>
      <div class="col-1">
        <br>

        <p for="" style="font-size:250%;">-</p>

      </div>
      <div class="col-2">
          <label for="dv">dv</label>
        <input nbInput type="text" class="form-control" name="dv" [(ngModel)]="cliente.dv" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Clasificacion">Clasificacion</label>
      <select id="Clasificacion" class="form-control"  [(ngModel)]="cliente.clasificacion">
        <option selected>Bronce</option>
        <option>Plata</option>
        <option>Oro</option>
      </select>
    </div>

    <button type="button" class="btn btn-danger" (click)="limpiar()">Cancelar</button>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
