


 <nb-card>

  <nb-card-body>
      <h5>Clientes</h5>
    <nb-tabset>
      <nb-tab tabTitle="Listado"
      badgeStatus="info">
        <listar> </listar>
      </nb-tab>
      <nb-tab tabTitle="Agregar">
      <agregar></agregar>
      </nb-tab>
     </nb-tabset>
  </nb-card-body>

</nb-card>
