
<div class="col-md-4 offset-md-4">
    <form (ngSubmit)="addMaquina()">

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input nbInput type="text" class="form-control" name="nombre"  required>

      </div>


      <div class="form-group">
          <label for="Apellido">Apellido</label>
          <input nbInput type="text" class="form-control" name="Apellido"  required>
        </div>

        <div class="form-group">
            <label for="Rut">Rut</label>
            <input nbInput type="text" class="form-control" name="Rut"  required>
          </div>


      <div class="form-group">
          <label for="Correo">Correo</label>
          <input nbInput type="text" class="form-control" name="Correo"  required>
        </div>


      <div class="form-group">
          <label for="Clave">Clave</label>
          <input nbInput type="text" class="form-control" name="Clave"  required>
        </div>
      <div class="form-group">
          <label for="nombre">Foto</label>
          <input nbInput type="file" class="form-control" name="nombre"  required>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Caja</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Contadores</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Administracion</label>

            </div>
            <br>

      <button type="button" class="btn btn-danger" >Cancelar</button>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>



