


 <nb-card>

  <nb-card-body>
      <h5>Contadpores</h5>
    <nb-tabset>
      <nb-tab tabTitle="Listado" badgeText="2"
      badgeStatus="info">
        <listado> </listado>
      </nb-tab>
      <nb-tab tabTitle="Agregar">
      <agregar></agregar>
      </nb-tab>
      <nb-tab tabTitle="Balance">
        <balance></balance>
        </nb-tab>
        <nb-tab tabTitle="Diferencias">
          <diferencias></diferencias>
          </nb-tab>
     </nb-tabset>
  </nb-card-body>

</nb-card>
