


 <nb-card>

    <nb-card-body>
        <h5>Maquinas</h5>
      <nb-tabset>
        <nb-tab tabTitle="Listado" badgeText="2"
        badgeStatus="info">
          <listar> </listar>
        </nb-tab>
        <nb-tab tabTitle="Agregar">
        <agregar></agregar>
        </nb-tab>
       </nb-tabset>
    </nb-card-body>

  </nb-card>
