
<div class="col-md-4 offset-md-4">
  <form (ngSubmit)="addLocal()">
    <div class="form-group">
      <label for="ciudad">Nombre</label>
      <input nbInput type="text" class="form-control" name="nombre" [(ngModel)]="product.nombre">
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad</label>
      <input nbInput type="text" class="form-control"  name="ciudad" [(ngModel)]="product.ciudad">
    </div>
    <div class="form-group">
      <label for="direccion">Direccion</label>
      <input nbInput type="text" class="form-control" name="direccion" [(ngModel)]="product.direccion">
    </div>
    <div class="form-group">
      <label for="direccion">Fono</label>
      <input nbInput type="text" class="form-control" name="fono" [(ngModel)]="product.fono">
    </div>
    <button type="button" class="btn btn-danger" (click)="limpiar()">Cancelar</button>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>



