


<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Rut</th>
        <th scope="col">Fono</th>
        <th scope="col">Correo</th>
        <th scope="col">Sueldo</th>
        <th scope="col">Permisos</th>

      </tr>
    </thead>
    <tbody>


    </tbody>
  </table>
