


 <nb-card>

  <nb-card-body>
    <h5>Locales</h5>
    <nb-tabset>
      <nb-tab tabTitle="Listado" badgeText="2"
      badgeStatus="info">
        <listado> </listado>
      </nb-tab>
      <nb-tab tabTitle="Agregar">
      <agregar></agregar>
      </nb-tab>
     </nb-tabset>
  </nb-card-body>

</nb-card>
