<nb-card>

  <nb-card-body>
    <h5>Sorteos</h5>
    <nb-tabset>
      <nb-tab tabTitle="Listar" badgeText="2" badgeStatus="info">
        <listar> </listar>
      </nb-tab>
      <nb-tab tabTitle="Agregar">
        <agregar></agregar>
      </nb-tab>
      <nb-tab tabTitle="Historial">
        <historial></historial>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>

</nb-card>