
<nb-card>

<nb-card-body>
    <h5>Turnos</h5>
    <nb-card size="small">
        <nb-list>
          <nb-list-item *ngFor="let tur of turnos">
            <div class="row">
              <div class="col-4">
                  <i class="fas fa-lock"></i> {{tur.hApertura}}
              </div>
              <div class="col-4">
                  {{tur.hCierre}}
              </div>
              <div class="col-4">
                  {{tur.estado}}
              </div>
              
                
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>  
  
</nb-card-body>

</nb-card>
