
<div class="col-md-4 offset-md-4">
    <form (ngSubmit)="addMaquina()">
        <div class="form-group">
            <label for="local">Local</label>

            <select   name="local" class="form-control" required>
                <option *ngFor="let c of locales" [ngValue]="c.nombre" >{{c.nombre}}</option>
              </select>
          </div>
      <div class="form-group">
        <label for="numero">Numero</label>
        <input nbInput type="number" class="form-control" name="numero" [(ngModel)]="product.numero" required>
      </div>
      <div class="form-group">
          <label for="multiplicador">Multiplicador</label>
          <input nbInput type="number" class="form-control" name="multiplicador" [(ngModel)]="product.multiplicador" required>
        </div>
      <div class="form-group">
          <label for="in">In</label>
          <input nbInput type="number" class="form-control" name="in" [(ngModel)]="product.in" required>
        </div>
        <div class="form-group">
            <label for="out">OUT</label>
            <input nbInput type="number" class="form-control" name="out" [(ngModel)]="product.out" required>
          </div>

      <button type="button" class="btn btn-danger" (click)="limpiar()">Cancelar</button>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>



